.qubely-block-1cb010 {padding-top: 10px;padding-bottom: 10px;}
.qubely-block-1cb010 .qubely-tab-title.qubely-has-icon-left .qubely-tab-icon {margin-right: 8px;}
.qubely-block-1cb010 .qubely-tab-title.qubely-has-icon-right .qubely-tab-icon {margin-left: 8px;}
.qubely-block-1cb010 .qubely-tab-title.qubely-has-icon-top .qubely-tab-icon {margin-bottom: 8px;}
.qubely-block-1cb010 .qubely-block-tab .qubely-tab-nav {margin-left: calc(-10px / 2);margin-right: calc(-10px / 2);}
.qubely-block-1cb010 .qubely-block-tab .qubely-tab-nav .qubely-tab-item {margin-left: calc(10px / 2);margin-right: calc(10px / 2);}
.qubely-block-1cb010 .qubely-block-tab .qubely-tab-nav .qubely-tab-item .qubely-tab-title {border-bottom: 3px solid transparent;}
.qubely-block-1cb010 .qubely-block-tab .qubely-tab-body {border-top: 1px solid transparent;}
.qubely-block-1cb010 .qubely-block-tab .qubely-tab-body {padding-top: 20px;}
.qubely-block-1cb010 {position: relative;}
.qubely-block-1cb010 {z-index: 0;}
.qubely-block-1cb010 .qubely-block-tab .qubely-tab-nav .qubely-tab-item .qubely-tab-title {padding: 6px 15px;}
.qubely-block-1cb010 .qubely-block-tab .qubely-tab-nav .qubely-tab-item .qubely-tab-title {color: #999;}
.qubely-block-1cb010 .qubely-block-tab .qubely-tab-nav .qubely-tab-item.qubely-active .qubely-tab-title {color: #2184f9;}
.qubely-block-1cb010 .qubely-block-tab .qubely-tab-nav .qubely-tab-item.qubely-active .qubely-tab-title {border-bottom-color: #2184f9;}
.qubely-block-1cb010 .qubely-block-tab .qubely-tab-body {border-top-color: #e5e5e5;}